data/raw/*.tif
data/raw/*.TIF
data/processed/**/*.tif
data/processed/**/*.TIF
data/processed/samgeo/*.geojson
data/validation/*.tif
outputs/maps/*.html
outputs/figures/mapa_area_estudio.png
__pycache__/
*.py[cod]
.ipynb_checkpoints/
.Rhistory
.RData
.DS_Store
Thumbs.db
.env
credentials/
.config/
